
.selected {
  color:green;
}

.addnew {
  display: block;
  float:left;
}

.jumbotron {
  text-align: center;
  background-color: #7D9EC0;
}

.filter {
  margin-bottom: 10px;
}

.details {
  text-align: center;
  background-color: #CDC9C9;
}

.meal-form {
  display:inline-block;
  margin: 0 auto;
  float: none;
  margin-bottom: 25px;
}
