
body {
  background-image: url("/resources/images/concrete_seamless.png");
}

.selected {
  color:green;
}

.addnew {
  display: block;
  float:left;
}

.jumbotron {
  text-align: center;
  background-image: url("/resources/images/food.jpg");
  background-size: auto;
  background-position: bottom;
  padding-top: 1em;
  padding-bottom: 30em;
  text-shadow: 1px .5px 1px white;

}

.filter {
  margin-bottom: 10px;
}

.details {
  text-align: center;
}

.meal-form {
  display:inline-block;
  margin: 0 auto;
  float: none;
  margin-bottom: 25px;
  color: #CD3333;
}

.btn-success {
  display: inline-block;
  float: left;
}
